<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Титульник</title>
    <style>

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf") format("truetype");
            font-weight: 300;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf") format("truetype");
            font-weight: 500;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-900"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
            font-weight: 900;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf") format("truetype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype");
            font-weight: 100;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf") format("truetype");
            font-weight: 100;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot");
            src: local("/static/fonts/MuseoSans/Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf") format("truetype");
            font-weight: 900;
            font-style: italic;
        }

    </style>
</head>
<body style="margin: 0; padding: 0">

<div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; position: relative;">
    <div class="container" style="padding: 48px 104px; position: absolute; top: 0; left: 0px;">
        <table style="border-spacing: 0px;
            width: 601px;
            border: none;
            box-sizing: content-box;
            border-collapse: unset;">
            <tr>
                <td style="padding-top: 5px; width: 29px">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="12" cy="12" r="12" fill="#48A234"/>
                        <path d="M12.6666 16H11.3333V14.6667H12.6666V16ZM14 13.3333H9.99998V17.3333H14V13.3333ZM16.6666 10.2V6.66667H14.6666V8.4L12 6L5.33331 12H7.33331L12 7.79333L16.6666 12H18.6666L16.6666 10.2Z" fill="white"/>
                    </svg>

                </td>
                <td
                    style="font-weight: 600;
                    font-size: 18px;
                    color: #434343"
                > <%= floor %> этаж
                </td>
            </tr>
            <tr>
                <td colspan="2"
                    style="font-weight: 600;
                    font-size: 40px;
                    line-height: 54px;
                    background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;"
                >Планировка помещения</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="pattern" style="position: relative; margin-top: 74px">
                        <img src="<%=areaSchema%>" style="position: relative; width: 632px; height: 303px" alt="Схема помещения отсутствует">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>

