<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Титульник</title>
    <style>

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500.ttf") format("truetype");
            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300Italic.ttf") format("truetype");
            font-weight: 300;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-500Italic.ttf") format("truetype");
            font-weight: 500;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-900"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900.ttf") format("truetype");
            font-weight: 900;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700.ttf") format("truetype");
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-700Italic.ttf") format("truetype");
            font-weight: 700;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-300"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-300.ttf") format("truetype");
            font-weight: 300;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100.ttf") format("truetype");
            font-weight: 100;
            font-style: normal;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot");
            src: local("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-100Italic.ttf") format("truetype");
            font-weight: 100;
            font-style: italic;
        }

        @font-face {
            font-family: 'Museo Sans Cyrl';
            src: url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot");
            src: local("/static/fonts/MuseoSans/Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.eot?#iefix") format("embedded-opentype"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.woff") format("woff"),
            url("/static/fonts/MuseoSans/MuseoSansCyrl-900Italic.ttf") format("truetype");
            font-weight: 900;
            font-style: italic;
        }
    </style>
</head>
<body style="margin: 0; padding: 0">
<div class="sheet" style="font-family: 'Museo Sans Cyrl'; width: 842px; height: 595px; position: relative;">
    <div class="pattern" style="line-height: 0; position: relative; width: 100%; height: 100%">
        <img src="<%= patternFooter %>" style="position: relative; width: 842px; height: 595px;" alt="pattern">
    </div>
    <div class="container" style="height: 100%; width: 100%; position: absolute; top: 0; left: 2px; color: white">
        <table style="height: 100%; width: 100%;
            border-spacing: 0px;
            border: none;
            box-sizing: content-box;
            border-collapse: unset;">
            <tr align="center">
                <td>
                    <div style="width: 630px;
                            height: 196px;
                            background: white;
                            opacity: 1;
                            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);">

                        <table style="height: 196px;
                            width: 630px;
                            border-spacing: 0;
                            border-collapse: unset;
                            border: none;
                            box-sizing: content-box;
                            line-height: 0;">
                            <tr>
                                <td style="padding: 0; width: 208px">
                                    <svg width="208" height="196" viewBox="0 0 208 196" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="208" height="196" fill="#F3F3F3"/>
                                        <path d="M149.989 124.25H149.636L104.273 150.576L103.989 150.989L58 124.25V70.75L58.3644 70.7041L103.92 44.2294L103.989 44L149.989 70.75V124.25Z" fill="#C0D886"/>
                                        <path d="M137.677 107.136V78.0569L104.023 58.4877V44L58 70.7615L70.5506 78.0569L95.5266 63.5234L129.09 82.9779V111.999L137.677 107.136Z" fill="#008054"/>
                                        <path d="M70.357 88.1055V117.184L103.977 136.73L104.023 150.989L150 124.216L137.7 117.069L112.678 131.672L79.0809 112.16V83.0469L70.357 88.1055Z" fill="#008054"/>
                                        <path d="M79.0924 83.0467L95.39 73.5718L107.895 80.8213L91.6089 90.2963L79.0924 83.0467Z" fill="#008054"/>
                                        <path d="M91.6088 90.273L107.85 80.8096V95.4349L91.6088 104.784V90.273Z" fill="#4DA32F"/>
                                        <path d="M104.046 111.999L120.4 102.501V117.069L104.046 126.693V111.999Z" fill="#4DA32F"/>
                                        <path d="M91.5861 104.773L107.85 95.332L120.355 102.536L104.068 112.011L91.5861 104.773Z" fill="#008054"/>
                                        <path d="M95.3672 73.5604L120.366 88.0366V117.104L129.124 111.999V82.9321L95.4925 63.5005L70.5279 78.0455L58 70.7386V124.239L104 151H104.034V136.662L70.414 117.161V88.0825L95.3672 73.5604Z" fill="#7BBB58"/>
                                    </svg>
                                </td>
                                <td style="padding: 52px 10px 10px 90px; vertical-align: top; color: #434343;">
                                    <div style="font-weight: 600;
                                                font-size: 24px;
                                                line-height: 21px;
                                                background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;"
                                    ><%=fio%></div>
                                    <div style="font-weight: 400;
                                                margin-top: 2px;
                                                font-size: 14px;
                                                line-height: 21px;"
                                    >ваш персональный менеджер</div>
                                    <div style="font-weight: 600;
                                                margin-top: 8px;
                                                font-size: 14px;
                                                line-height: 21px;"
                                    ><%=personalPhone%></div>
                                    <div style="font-weight: 600;
                                                font-size: 14px;
                                                line-height: 21px;
                                                background: linear-gradient(96.99deg, #008054 0%, #B4D88B 101.2%);
                                                -webkit-background-clip: text;
                                                -webkit-text-fill-color: transparent;"
                                    ><%=email%></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
